*{
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;

	text-decoration: none;
	list-style: none;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8%;
	box-shadow: 0 5px 10px #000;
	background-color: rgba(130, 168, 171, 0.55);
}

header .logo{
	font-size: 40px;
	font-weight: 900;
	color: black;
}
header .logo:hover{
	transform: scale(1.2);
}
header nav ul li{
	position: relative;
	float: left;
}
header nav ul li a{
	padding: 15px;
	color: black;
	font-size: 30px;
	display: block;
	font-family: "Arial";

}
header nav ul li a:hover{
	background: rgba(127, 175, 181, 0.58);
	color: white;
}

.main{
	width: 100%;
	height: 100vh;
	background-image: url(Background.PNG);
	background-repeat: no-repeat;
	background-size: cover;
}
.text-main{
	position: relative;
	text-align: center;
	top: 25%;
	color: #fff;
}

.main h1{
	font-size: 30px;
	font-family: "Arial";
}

.main div{
	font-size: 40px;
	font-family: "Arial";
	color: black;

}






.links a.discord{
	position: fixed;
	top: 88%;
	margin: 25px;


}

.links a.youtube{
	position: fixed;
	top: 88%;
	margin: 25px;
	left: 55px;

}


.links a:hover{
	transform: scale(1.2);
}


/*ЗАГРУЗКА САЙТА*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-color: lightblue;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
/*ЗАГРУЗКА САЙТА*/




/*КНОПКА СКАЧИВАНИЯ*/
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/*КНОПКА СКАЧИВАНИЯ*/
